extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
block variables
	- let  mainPage= null
block title
	title Вопрос 5 из 7

block pagecontent
 
	//- +mob-mnu()
	//- +header()
	//- 	+top-line()
	//- 	+top-nav()
	+header-block()
	.main-block.ask-block
		.container
			h1 Вопрос 5 из 7
			p Оцените удобство расположения нашего офиса&nbsp;и авто площадки:
			+radio-block
			a.btn.btn-primary.disabled#btn(href="ask-6.html") Далее
				+icon("arrow")
	//- +s-form()
	//- +s-contact()
	//- +footer()

