extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
block variables
	- let  mainPage= null
block title
	title Спасибо за голосование!

block pagecontent
 
	//- +mob-mnu()
	//- +header()
	//- 	+top-line()
	//- 	+top-nav()
	+header-block()
	+b.thanks.main-block
		.container
			h1 Спасибо за голосование!
			p Ваши 3 подарка:
			+e.item
				+e.IMG.item-image(src="img/thanks1.png" alt="")
				p
					strong 300 рублей на банковскую карту или&nbsp;счет&nbsp;мобильного телефона за&nbsp;видео-&nbsp;отзыв для Youtube
				+e.P.small Запишите видео-историю не менее 30 секунд о том, как&nbsp;вы арендовали автомобиль в Автопрокат 24 (для&nbsp;чего, куда ездили) и отправьте на наш <br>
					strong WhatsApp +7 926 205 75 75.
				+e.P.small В видео должен быть хороший свет, вас должно быть хорошо видно и слышно, надо произнести свое имя в&nbsp;начале, а в конце сказать: «Я рекомендую Автопрокат&nbsp;24».
			+e.item
				+e.IMG.item-image(src="img/thanks2.png" alt="")
				p
					strong 500 рублей на банковскую карту или&nbsp;счет&nbsp;мобильного телефона за&nbsp;текстовый отзыв в интернете
				+e.P.small Запишите отзыв не менее 10 предложений о том, как&nbsp;вы&nbsp;арендовали автомобиль в Автопрокат 24 (для&nbsp;чего, куда ездили) и отправьте на наш <br>
					strong WhatsApp +7 926 205 75 75.
				+e.P.small После проверки отзыва мы дадим вам ссылку, где&nbsp;его&nbsp;нужно&nbsp;опубликовать.
			+e.item
				+e.IMG.item-image(src="img/thanks3.png" alt="")
				p
					strong А хотите вообще бесплатно ездить на&nbsp;наших автомобилях? Выполните 1 и 2 пункты и мы включим вас в нашу группу&nbsp;«Тест-драйв».
				+e.P.small У нас много автомобилей и их нужно каждую неделю тестировать на предмет поиска неисправностей.
				+e.P.small Группа клиентов «Тест-драйв» получает ежедневные предложения в WhatsApp по бесплатной аренде в&nbsp;обмен&nbsp;на заполнение чек-листа по качеству автомобиля. Тест-драйв это 100 км в пределах МКАД&nbsp;на&nbsp;выбранном компанией автомобиле в течение одного дня с 10 до 20 часов. Также бывают бесплатные&nbsp;маршруты перегонов авто Москва-Сочи, Москва-Спб, Москва-Грузия, Крым-Москва и т.п.
					
				+e.P.small Напишите на наш <strong>WhatsApp +7 926 205 75 75. </strong> «Прошу добавить меня в группу тест-драйв» <br>и вы в деле!
			h2 Спасибо! Ждем вас снова<br>в Автопрокат 24!<br>Мы любим вас!
			a.btn.btn-primary(href="#") Я вас тоже люблю!


			//- +radio-block-2
			//- p Сообщение лично владельцу компании Автопрокат 24 (по желанию) – доставим&nbsp;за&nbsp;1&nbsp;секунду.
			//- +form-wrap
			//- 	+input("Опишите проблемы","textarea")
			//- p 
			//- 	strong Нажмите кнопку ниже и получите 3 подарка за голосование.
			//- //- +form-wrap
			//- //- 	+input("Ваш ответ")
	//- +s-form()
	//- +s-contact()
	//- +footer()

