 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.radio-wrapper{
	display: flex;
	margin-bottom: rem(40);
	.custom-input{
		border: 2px solid #a7a7a7;
		height: rem(90);
		display: flex;
		align-items: center;
		justify-content: center;
		@extend .mono;
		font-size: rem(38);
		flex-grow: 1;
		padding: 0;
		overflow: hidden;
		margin: 0;
		&:first-child{
			border-radius: 10px 0 0 10px;
		}
		&:last-child{
			border-radius: 0 10px 10px 0;
		}
		&:not(:first-child){
			margin-left: -2px;
		}
		&__lab{
			background-color: #fff;
			// display: none;
		}
	}
	.red-i:checked + .custom-input__lab{
		background-color: #db1e32;
	}
	.orange-i:checked + .custom-input__lab{
		background-color: #f0851c;
	}
	.lemon-i:checked + .custom-input__lab{
		background-color: #d3f41d;
	}
	.grass-i:checked + .custom-input__lab{
		background-color: #91be32;
	}
	.green-i:checked + .custom-input__lab{
		background-color: #328945;
	}
}

.custom-input__input:checked ~ .custom-input__text{
	color: #fff;
}